$primary-color: #6D0EB5;
$light-grey: #636363;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

#welcome {
  margin-top: 30px;
}

#welcomeTitle {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
#welcomeMessage{
  font-size: 1rem;
  color: #636363;
  text-align: center;
}

#membership{
  margin-top: 4rem;
  background: black;
  background: $light-grey;  /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(48, 48, 54, 0.8), rgba(44, 33, 36, 0.8)), url("/images/childrenGroup.jpg");
  background: linear-gradient(rgba(48, 48, 54, 0.8), rgba(44, 33, 36, 0.8)), url("/images/childrenGroup.jpg"); 
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 1rem 0;
  
  & > div {
    display: flex;
    height: 100%;
    align-items: center;
  }

  h6{
    text-transform: uppercase;
    color: #F49642;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }

  #innerCont h4{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
  }

  button{
    background: $primary-color;
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
  }
  
}

.cardRoot{
  background: transparent;
}

#sermons{
  padding-top: 4rem;
  background: lighten( $light-grey, 58%);
}

.loader{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 100%;

  img {
    width: 10rem;
  }
}

.flipImage{
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
}

.hide{
  display: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.rotating {
  -webkit-animation: rotating .9s linear;
  -moz-animation: rotating .9s linear;
  -ms-animation: rotating .9s linear;
  -o-animation: rotating .9s linear;
  animation: rotating .9s linear;
}

@media (min-width: 960px){
  .midWidth{
    max-width: 1100px !important;
    text-align: center;
  }
}

@media (max-width: 599.95px) and (min-width: 0px){
  
  #welcomeTitle {
    font-size: 1.5rem;
  }
  #welcomeMessage{
    font-size: .8rem;
    text-align: center;
  }

  #membership{
    h6{
      font-size: 1.3rem;
    }
  
    #innerCont h4{
      font-size: 1.4rem;
    }
  
    button{
      margin-bottom: 20px;
    }
    
  }
}